<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login</h1>
	<form action="/login" method="post">
		Username<input type="text" name="username" value="admin"><br>
		Password<input type="text" name="password" value="admin"><br>
		<input type="submit" value="login">
	</form>
</body>
</html>