<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
    	Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ==========================
    	Title 
    =========================== -->
    <title>Smart Home</title>
    <link rel="shortcut icon" href="/img/icontitle.ico" />
    <!-- ==========================
    	Fonts 
    =========================== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- ==========================
    	CSS 
    =========================== -->
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-colorselector.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-formhelpers.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap-select.min.css">
</head>
<body>
    <!-- ==========================
        Preloader
    =========================== -->
    <div id='preloader'>
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
	<!-- ==========================
    	HEADER - START 
    =========================== -->
    <header>
	<!-- ==========================
    	Nav-bar - START 
    =========================== -->
    	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    		<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i class="fa fa-bars"></i></button>
                    {{#if username}}    {{!-- if loggedin --}}
                    <i class="fa fa-user fa-3x navbar-logo pull-left"></i>
                    <a href='/'class="navbar-brand">{{{username}}}</a>
                    {{else}}
                    <img src="img/icon.png" class="navbar-logo pull-left" alt="" />
                    <a href='/' class="navbar-brand">Smart Home WiFi</a>
                    {{/if}}
                </div>  {{!-- /navbar-header --}}
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavigation">
                    <ul class="nav navbar-nav navbar-right">
                    {{#if username}}    {{!-- if loggedin --}}
                        <li><a href='/'>Home</a></li>
                        <li><a href='/choose_map'>Map</a></li>
                        <li class='logout'><a href='/logout'>Logout</a></li>
                    {{else}}
                        <li><a href='#'id="botton_login">Login</a></li>
                    {{/if}}
                    </ul>
                </div>	{{!-- /navbar collpase --}}
    		</div>	{{!-- /container --}}
    	</nav>	{{!-- /nav-bar --}}


	</header>	{{!-- /header --}}

	<!-- ==========================
    	Section Your Rule
    =========================== -->
    
    <section id='rule' class='content'>
        <div class='container'>
            <div class='row'>   {{!-- /Header Name --}}
                <div class='col-md-5'>
                    <h3>{{{map}}} <span class='help-title'>rule</span><h3> 
                </div>
                <div class="col-md-7"style='text-align:right'>
                    <a class='block' href="/map"><p>back</p></a>
                </div>
            </div>  {{!-- /row --}}


            <!-- start rule list -->
            <div id='rule-list'>
                {{!-- <div class='row rule'>
                    <div class='col-md-11'>
                    <span>If</span>
                    <span>tag in room</span>
                    <span>date :</span>
                    <span>day :</span>
                    <span>time :</span>
                    <span>then</span>
                    <span>tag</span>
                    <span>line</span>
                    </div>
                    <div class='col-md-1' style='text-align:right'><i class='fa fa-times removelist' aria-hidden='true'></i></div>
                </div> --}}
            </div>


            <!-- new rule -->
            <div class='row'>
                <button type="button" class="btn btn-primary" id='add-rule' title='new rule'>new rule</button>   
            </div>


        </div>


    </section>



    <!-- ==========================
        Modal add rule
    =========================== -->
    <div class="modal fade" id="modal-add-rule" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>  
                    <div class="modal-title">Add new rule</div>
                </div>  {{!-- /modal-header --}}
                {{!-- modal-body --}}
                <div class="modal-body" id="modal-body">

                <!-- ==========================
                    If
                =========================== -->
                    <div class='row'>
                    <div class="col-md-2 head">If</div>
                    <div class='col-md-10'>                    
                        {{!-- button choose if rule --}}
                            <button type="button" class="btn btn-default" id='if-button-tag'>Tag</button>
                            <button type="button" class="btn btn-default" id='if-button-time'>Time</button>
                            <button type="button" class="btn btn-default" id='if-button-date'>Date</button>
                            <button type="button" class="btn btn-default" id='if-button-day'>Day</button>
                    </div>
                    </div>


                    <!-- ==========================
                        If List
                    =========================== -->
                    <div id='if-list'>
                    </div> {{!-- /if-list --}}

                <!-- ==========================
                    then
                =========================== -->
                    <div class='row '>
                        <div class="col-md-2 head">Then</div>
                        <div class='col-md-10'>
                            <button type="button" class="btn btn-default" id='then-button-line'>Notify Line</button>
                            <button type="button" class="btn btn-default" id='then-button-control'>Control Tag</button>
                        </div>
                    </div>

                    <!-- ==========================
                        then List
                    =========================== -->
                    <div id='then-list'>
                    </div> {{!-- /if-list --}}


                {{!-- Submit --}}
                    <div class='submit'>
                        <button type="submit" class="btn btn-primary" id="submit-modal">Submit</button>
                        <button type="submit" class="btn btn-primary" id='cancel-modal'>Cancel</button>
                    </div>

                </div>  {{!-- /modal-body --}}

            </div> {{!-- /modal content --}}
        </div>
    </div> {{!-- /modal --}}




    <!-- ==========================
    	JS 
    =========================== -->
    {{!-- lib --}}
    <script src="/lib/js/jquery-3.1.1.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/bootstrap-formhelpers.js"></script>
    <script src="/lib/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/js/bootstrap-timepicker.min.js"></script>
    <script src="/lib/js/bootstrap-select.min.js"></script>

    {{!-- design js --}}
    <script src="/js/design/custom.js"></script>
    {{!-- work js --}}
    <script src="/js/work/custom-rule.js"></script>



</body>
</html>