<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="back" method="post">
	<input type="submit" id="byBtn" value="back">
</form>
<h1>setting</h1>


<!--library-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/ajax.js"></script>

</body>
</html>